# Server Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info
 
# Database Configuration
DATABASE_URL=psql 'postgresql://neondb_owner:npg_riUqsht1Sp2Q@ep-spring-pond-a1vbw02v-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'